@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@keyframes opacon {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


body{
    background-color: darkslateblue;
}

.title{
    font-size: 70px;
    font-weight: 100;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, deepskyblue,deeppink,deepskyblue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: opacon .5s;
    animation-fill-mode: forwards;
} 

.search {
    position: absolute;
    width: 20%;
    margin-top: -7%;
    margin-left: 70%;
}

.write{
    position: absolute;
    width: 100%;
    margin-top: -7%;
    text-align: left;
    font-family: 'Black Han Sans', sans-serif;
    background: linear-gradient(to right, deepskyblue,deeppink,deepskyblue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
}

.noti{
    width: 100%;
    font-size: 300%;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    background: linear-gradient(to right, deepskyblue,deeppink,deepskyblue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50%;
    font-weight: 100;
}

.prevBtn{
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    z-index: 99;
    width: 20%;
    height: 5%;
    margin-top: 30px;
    background-color: deeppink;
    color: white;
    border: white;
    border-width: 1px;
    border-radius: 5px;
}