@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    background-color: darkslateblue;
}

@keyframes titlemove {
    0%{
        opacity: 0;
    }
    50%{
        opacity:1;
    }

    100%{
        opacity:1; transform: translateY(-150px);
    }
}

@keyframes opacitycont {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(-200px);
    }
}

/* mystyle.css */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.title{
    margin-top: 170px;
    font-size: 47px;
    font-weight: 100;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, skyblue,deepskyblue,deeppink,deepskyblue,skyblue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titlemove 1s;
    animation-fill-mode: forwards;
}

.btn {
    font-family: 'Black Han Sans', sans-serif;
    margin-left: 15px;
    margin-top: 100px;
    width: 100%;
    background: linear-gradient(to right, skyblue,deepskyblue,deeppink,deepskyblue,skyblue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 100;
    opacity: 0;
    animation: opacitycont .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.prevBtn{
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    z-index: 99;
    width: 20%;
    height: 5%;
    margin-top: -100px;
    background-color: deeppink;
    color: white;
    border: white;
    border-width: 1px;
    border-radius: 5px;
}